<div class="section hero">
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h4 class="hero-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <a class="button button-primary" href="#">Login</a>
      </div>
      <div class="one-half column phones">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lectus eros, vestibulum suscipit egestas egestas, tempus eget lacus. Donec in libero eros. Pellentesque ut est augue.</p>
      </div>
    </div>
  </div>
</div>

<div class="section bg-grey">
  <div class="container">
    <div class="row">
      <div class="one-third column value">
        <h2 class="value-multiplier">67%</h2>
        <h5 class="value-heading">Purchase Increase</h5>
        <p class="value-description">Percentage of users more likely to purchase on mobile friendly site.</p>
      </div>
      <div class="one-third column value">
        <h2 class="value-multiplier">90%</h2>
        <h5 class="value-heading">Multi-device Users</h5>
        <p class="value-description">Most of the world accesses the internet on multiple devices.</p>
      </div>
      <div class="one-third column value">
        <h2 class="value-multiplier">66%</h2>
        <h5 class="value-heading">Sad Users</h5>
        <p class="value-description">Percentage of users that are frustrated with page load times.</p>
      </div>
    </div>
  </div>
</div>

<div class="section center">
  <div class="container">
    <h3 class="section-heading">Need help getting started?</h3>
    <p class="section-description">Skeleton is an amazingly easy place to start with responsive development. If you want to learn more, just visit the documentation!</p>
    <a class="button button-primary" href="http://getskeleton.com">View Skeleton Docs</a>
  </div>
</div>

