<div class="section">
  <div class="container">
    <div class="row">
     <div class="two-thirds center">
       <h3 class="section-heading">About Me</h3>
     </div>
    </div>
  </div>
</div>

<div class="section bg-grey center">
  <div class="container">
    <div class="row">
      <h3 class="section-heading">Works</h3>
      <p class="section-description">Coming soon...</p>

        <a class="button button-primary" href="#">View Portfolio</a>

    </div>
  </div>
</div>

<div class="section center">
  <div class="container">
    <h3 class="section-heading">Recent Posts</h3>
    <ul class="post-list">
    <% @posts.each do |post| %>
      <li><%= link_to "#{post.title}", post_path(post) %>
        <div class="index-post-summary">
          <%= truncate(markdown(post.content), escape: false, length: 50 ) %>
        </div>
        <div class="post-summary-spacer"></div>
      </li>

    <% end %>
    </ul>
    <div style="margin-top: 30px">
      <%= link_to 'View All Posts', posts_path, class: 'button button-primary' %>
    </div>

  </div>
</div>

