<% title 'Thank you!' %>
<div class="container">
  <div class="row">
    <div class="post-entry">
      <h4 class="title center">Thank you for your message!</h4>
      <div class="post-spacer"></div>
      <p class="center">I will get back to you shortly...</p>
    </div>
  </div>
</div>