h1, h2, h3, h4, h5, h6 {
  font-family: 'Ovo', serif;
}

body, p, div {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}


header {
  padding-top: 1em;
}

#branding  {
  color: #000;
  font-weight: 300;

  img {
    margin-bottom: -21px;
  }
}


a {
  text-decoration: none;
}

.navbar + .docs-section {
  border-top-width: 0; }
.navbar,
.navbar-spacer {
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
.navbar-spacer {
  display: none; }
.navbar > .container {
  width: 100%; }
.navbar-list {
  list-style: none;
  margin-bottom: 0;
  margin: auto;
  display: inline-block}
.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0; }
.navbar-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222; 


}

.navbar-link:hover {
  color: #828282;
  border-bottom: 2px solid #e6e6e6;
}


.navbar-link.active {
  color: #33C3F0; }
.has-docked-nav .navbar {
  position: fixed;
  top: 0;
  left: 0; }
.has-docked-nav .navbar-spacer {
  display: block; }

.section-heading {
  border-bottom: 3px solid #e6e6e6;
  display: inline-block;
  padding-bottom: 0.1em;
}

.section-description {
  font-style: italic;
}

.post-list {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    
    a {
      color: #525252;
      font-weight: 500;
      font-size: 18px;
    }
  }
  .post-summary-spacer {
    border-bottom: 1px solid #e6e6e6;
    width: 150px;
    margin: auto;
  }

  .index-post-summary {
    font-style: italic;
  }
}

#post-index .post {
  text-align: center;
  padding-bottom: 2em;
  border-bottom: 1px solid #e6e6e6;
  margin: 1.5em 0;
}

#post-index .post:first-child {
  margin-top: 0;
}

#post-index .post:last-child {
  border-bottom: none;
}

.post-entry {
  max-width: 720px;
  margin: auto;

  .title {
    margin-bottom: 0.1em;
    
    a {
      color: #333;
    }
  }
}

.meta {
  font-size: 12px;
}

.post-summary, .post-content {
  margin-top: 1em;
}

.post-spacer {
  border-bottom: 2px solid #e6e6e6;
  max-width: 180px;
  margin: 2.5em auto;
}

.error-list {
  padding: 0;
  margin: 0;
}

.error-list li {
  list-style: none;
  color: #B00100;
  font-weight: 500;
}

.body-nav {
  margin: 2em 0;
  text-align: center;
}

#footer {
  padding: 5rem 0 10rem;
  background-color: #fafafa;
}

.button-round {
  border-radius: 100px;
}

textarea {
  min-height: 300px;
}


// Pagination


.current, .pagination a {
  background-color: #f6f6f6;
  padding: 0.5em 0.8em;
  margin: 0 5px;
  color: #000;
  border-radius: 3px;
}

.pagination .current {
  background-color: #33C3F0 !important;
  color: #fff;
}

.previous_page, .next_page {
  border: 1px solid #33C3F0!important;
  padding: 0.4em 0.8em;
  background-color: #33C3F0 !important;
  color: #fff !important;
  border-radius: 3px !important;

}


.disabled {
  background-color: #f6f6f6!important;
  border-color: #f6f6f6!important;
  color: #ccc !important;
}


.previous_page:hover, .next_page:hover {
  color: #fff;
  opacity:0.8;
}

//Utils

.center {
  text-align: center;
}

.bg-grey {
  background-color: #fafafa;
}


.section-description {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* Smaller than 550 */
@media (max-width: 449px) {
  .section {
    padding: 2rem 0;
  }

  .navbar-link {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 10px;

  }

}


/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 5rem 0 6rem;
  }


  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {

  .hero-heading {
    font-size: 2.6rem;
  }


  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

