<header class="header">
  <div class="container center">
    <h1>Site</h1>
  </div>
</header>
<nav class="navbar center">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="#intro">Posts</a></li>
      <li class="navbar-item"><a class="navbar-link" href="#intro">Portfolio</a></li>
      <li class="navbar-item"><a class="navbar-link" href="#examples">About</a></li>
      <li class="navbar-item"><a class="navbar-link" href="#examples">Contact</a></li>
    </ul>
  </div>
</nav>